%heading {
	text-transform: $headings-text-transform;

	&:last-child {
		margin-bottom: 0;
	}
}

.text-underline {
	text-decoration: underline;
}

.text-truncate {
	@for $i from 1 through 6 {
		&-#{$i} {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: $i; /* number of lines to limit */
			line-clamp: $i;
		}
	}
}

.display-1 {
	@include media-breakpoint-between(md,lg) {
		@include font-size(map-get($display-font-sizes, 3));
	}
	@include media-breakpoint-up(xl) {
		font-size: 12rem;
	}
}

.text-squared:after {
	content: '2';
  font-size: 0.55em;
  display: inline-block;
  vertical-align: text-top;
}
