$utilities: map-merge(
    $utilities,
    (
      "fill": (
        property: fill,
        state: hover,
        values: map-merge(
            $theme-colors,
            (
              "reset": currentColor,
            ),
        ),
      ),
      "color": map-merge(
          map-get($utilities, "color"),
          (
            responsive: true,
            state: hover,
          ),
      ),
      "stroke": (
        property: stroke,
        state: hover,
        values: $theme-colors
      ),
      "object-position": (
        property: object-position,
        values: (
          "top": top,
          "end": right,
          "bottom": bottom,
          "start": left,
          "70": 70%,
        ),
      ),
      "font-size": map-merge(
          map-get($utilities, "font-size"),
          (
            responsive: true,
            values: map-merge(
                map-get(map-get($utilities, "font-size"), "values"),
                (
                  "xsmall": $font-size-xs,
                  "small": $font-size-sm,
                  "base": $font-size-base,
                  "large": $font-size-lg,
                  "xlarge": $font-size-xl,
                ),
            ),
          ),
      ),
      "font-weight": map-merge(
          map-get($utilities, "font-weight"),
          (
            values: map-merge(
                map-get(map-get($utilities, "font-weight"), "values"),
                (
                  "normal": $font-weight-normal,
                ),
            ),
          ),
      ),
      "line-height": map-merge(
          map-get($utilities, "line-height"),
          (
            responsive: true,
            values: map-merge(
                map-get(map-get($utilities, "line-height"), "values"),
                (
                  "0": 0,
                  "0q": .25,
                  "0h": .5,
                  "0hq": .75,
                  "1": 1,
                  "1h": 1.5,
                  "1hq": 1.75,
                  "2": 2,
                ),
            ),
          ),
      ),
      "letter-spacing": (
        property: letter-spacing,
        class: ls,
        responsive: true,
        values: (
          "n1": -0.05em,
          "0": 0,
          "0h": 0.0625em,
          "1": 0.125em,
          "2": 0.25em,
          "3": 0.375em,
          "4": 0.5em,
        )
      ),
      "opacity": map-merge(
          map-get($utilities, "opacity"),
          (
            responsive: true,
            state: hover,
          ),
      ),
      "z-index": (
        property: z-index,
        values: (
          "n3": -3,
          "n2": -2,
          "n1": -1,
          "0": 0,
          "1": 1,
          "2": 2,
          "3": 3,
          "dropdown": $zindex-dropdown,
          "sticky": $zindex-sticky,
          "fixed": $zindex-fixed,
          "offcanvas-backdrop": $zindex-offcanvas-backdrop,
          "offcanvas": $zindex-offcanvas,
          "modal-backdrop": $zindex-modal-backdrop,
          "modal": $zindex-modal,
          "popover": $zindex-popover,
          "tooltip": $zindex-tooltip,
        )
      ),
      "width": map-merge(
          map-get($utilities, "width"),
          (
            responsive: true,
            values: $sizing-values
          ),
      ),
      "max-width": map-merge(
          map-get($utilities, "max-width"),
          (
            responsive: true,
            values: $sizing-values
          ),
      ),
      "height": map-merge(
          map-get($utilities, "height"),
          (
            responsive: true,
            values: $sizing-values
          ),
      ),
      "max-height": map-merge(
          map-get($utilities, "max-height"),
          (
            responsive: true,
            values: $sizing-values
          ),
      ),
      "position": map-merge(
          map-get($utilities, "position"),
          (
            responsive: true,
          ),
      ),
      "translate-middle": map-merge(
          map-get($utilities, "translate-middle"),
          (
            responsive: true,
          ),
      ),
      "top": map-merge(
          map-get($utilities, "top"),
          (
            responsive: true,
          ),
      ),
      "end": map-merge(
          map-get($utilities, "end"),
          (
            responsive: true,
          ),
      ),
      "bottom": map-merge(
          map-get($utilities, "bottom"),
          (
            responsive: true,
          ),
      ),
      "start": map-merge(
          map-get($utilities, "start"),
          (
            responsive: true,
          ),
      ),
      "ff": map-merge(
          map-get($utilities, "font-family"),
          (
            values: map-merge(
                map-get(map-get($utilities, "font-family"), "values"),
                (
                  "regular": get-font-family($regular-font-map),
                  "title-regular": get-font-family($title-regular-font-map),
                  "display": get-font-family($display-font-map),
                ),
            ),
          ),
      ),
    )
);
